* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 28px;
}

:root {
    --btn: #dbdbdb;
    --btn-hover: #c4c4c4;
    --item-bg: #f0f0f0;
    --modal-bg: rgba(141, 141, 141, 0.541);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        padding: 10px 15px;
        border-radius: 20px;
        border: none;
        background-color: var(--btn);
        cursor: pointer;

        &:hover {
            background-color: var(--btn-hover);
        }
    }
}

.employees {
    margin-top: 20px;
    display: flex;

    div {
        border: 1px solid black;
        overflow-y: scroll;
        height: 450px;
    }

    .employees__names {
        width: 30%;
    }

    .employees__single {
        width: 70%;
    }
}

.employees__names,
.employees__single {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.employees__names--title,
.employees__single--title {
    padding-bottom: 10px;
    margin-bottom: 5px;
    text-align: center;
    border-bottom: 1px solid black;
}